.main {
    font-family: Cochin, Charter, Arial; 
    color: white; 
    font-size: 28;
}

.container {
    top: 10px;
    position: relative;
    background-color: #00070F; 
    padding: 20px; 
    text-align: left; 
    width: 70%; 
    border: 1px solid grey; 
    margin:auto;
    height: 560px;
}

.table_main{
    width: 100%; 
    border-color: white;
}

.picture{
    position: absolute;
    right: 20px;
    top: 20px;
    border: none;
    padding: 5px;
    max-width: 70%;
    max-height: 500px; 
    overflow: auto;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-track {
    background: #000F19;
}

::-webkit-scrollbar-thumb { 
    background: #02232C;
    border-radius: 10px; 
}

