p {
    font-size: 20;
}

a  {
    text-decoration: none;
    color: #8FAED6 !important;
    font-size: 20;
}

a:hover {
    color: #4E6E97 !important;
}

.main {
    font-family: 'Times New Roman'; 
    color: white; 
    font-size: 28;
    min-width: 800px;
}

.container {
    top: 10px;
    position: relative;
    background-color: #00070F; 
    padding: 20px; 
    text-align: left; 
    width: 75%; 
    min-width: 850px;
    border: 1px solid grey; 
    margin:auto;
    min-height: 600px;
}

.table_main{
    width: 100%; 
    border-color: white;
}

.rulse{
    color: #8AA8CC;
}

.picture{
    position: absolute;
    right: 20px;
    top: 60px;
    border: none;
    padding: 5px;
    max-width: 70%; min-width: 300px;
    max-height: 500px; 
    overflow: auto;
}

.box {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: #00070F; 
    padding: 20px;
    width: 70px;
    height: 60px;
    border: 1px solid grey; 
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-track {
    background: #000F19;
}

::-webkit-scrollbar-thumb { 
    background: #02232C;
    border-radius: 10px; 
}

