p {
    font-size: 22;
}

a {
    text-decoration: none;
    color: #8FAED6;
    font-size: 22;
}

a:hover {
    color: #4E6E97;
}

.main {
    font-family: 'Times New Roman'; 
    color: #C8D6DF; 
    font-size: 32px;
}

.container {
    top: 10px;
    position: relative;
    background-color: #00070F; 
    padding: 20px; 
    text-align: left; 
    width: 75%; 
    border: 1px solid grey; 
    margin:auto;
    min-height: 600px;
}

.table_main{
    width: 100%; 
    border-color: #C8D6DF;
}

.rulse{
    color: #8AA8CC;
}

.picture{
    position: absolute;
    right: 20px;
    top: 60px;
    border: none;
    padding: 5px;
    max-width: 65%; min-width: 300px;
    max-height: 500px; 
    overflow: auto;
}

.box {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

.box:hover {
    bottom: -2px;
    right: -2px;
}

.text_field
{
    border: 1px;   
    border-radius: 3px;
    font-size: 18px;
    padding: 6px;
    background-color: #066084;
    color: #C8D6DF;
    font-family: 'Times New Roman';
    font-size: 20px;
    border-collapse: collapse;
    text-decoration: none;
    width: 35%;
    min-height: 100px;
    max-height: 400px;
    height: 40px;
}

.button_submit
{
    border: 1px;   
    border-radius: 10px;
    font-size: 24px;
    padding: 6px;
    background-color: #123E54;
    color: #8FAED6;
    font-family: 'Times New Roman';
    font-size: 22px;
    border-collapse: collapse;
    text-decoration: none;
}

.button_submit:hover
{
    background-color: #031921;
    color: #123E54;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.grid_boxes {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(130px, 1fr));
    grid-auto-rows: 130px;}
.grid_boxes > div > img {
    width: 100%; height: 100%;
    object-fit: cover; }
.grid_boxes > div > a {
    display: block;
    position: relative;
    bottom: 130px;
    color: rgb(0, 0, 0, 0);
    text-align: center;
    width: 100%;
    padding-bottom: 10px; padding-top: 94px; }
.grid_boxes > div > a:hover {
    color: #8FAED6;
    background-color: rgb(0, 0, 0, 0.6); border: 1px solid rgb(32, 37, 44)}

.Table {
    color: #92D3A7;
    width: 30%;
    font-size: 22px;
    text-align: center;
}

.Table tr:nth-child(odd){
    background-color: #041108;
}
.Table tr:nth-child(even){
    background-color: #17403A;
}

::-webkit-scrollbar-track {
    background: #000F19;
}

::-webkit-scrollbar-thumb { 
    background: #02232C;
    border-radius: 10px; 
}

