p {
    font-size: 22;
}

a {
    text-decoration: none;
    color: #8FAED6 !important;
    font-size: 22;
}

a:hover {
    color: #4E6E97 !important;
}

.main {
    font-family: 'Times New Roman'; 
    color: #C8D6DF; 
    font-size: 32px;
    min-width: 800px;
}

.container {
    top: 10px;
    position: relative;
    background-color: #00070F; 
    padding: 20px; 
    text-align: left; 
    width: 75%; 
    min-width: 850px;
    border: 1px solid grey; 
    margin:auto;
    min-height: 600px;
}

.table_main{
    width: 100%; 
    border-color: #C8D6DF;
}

.rulse{
    color: #8AA8CC;
}

.picture{
    position: absolute;
    right: 20px;
    top: 60px;
    border: none;
    padding: 5px;
    max-width: 70%; min-width: 300px;
    max-height: 500px; 
    overflow: auto;
}

.box {
    position: absolute;
    bottom: 30px;
    right: 20px;
    background-color: #00070F; 
    padding: 20px;
    width: 70px;
    height: 60px;
    border: 1px solid grey; 
}

.text_field
{
    border: 1px;   
    border-radius: 3px;
    font-size: 18px;
    padding: 6px;
    background-color: #066084;
    color: #C8D6DF;
    font-family: 'Times New Roman';
    font-size: 20px;
    border-collapse: collapse;
    text-decoration: none;
    max-width: 600px;
    min-width: 50px;
    min-height: 40px;
    max-height: 400px;
    width: 400px;
    height: 80px;
}

.button_submit
{
    border: 1px;   
    border-radius: 10px;
    font-size: 24px;
    padding: 6px;
    background-color: #123E54;
    color: #8FAED6;
    font-family: 'Times New Roman';
    font-size: 22px;
    border-collapse: collapse;
    text-decoration: none;
}

.button_submit:hover
{
    background-color: #031921;
    color: #123E54;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}


::-webkit-scrollbar-track {
    background: #000F19;
}

::-webkit-scrollbar-thumb { 
    background: #02232C;
    border-radius: 10px; 
}

