<html>
    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Need Title</title>
        {% endif %}
    </head>
    <body bgcolor=#EDE4CF style="font-family: Arial">
        {% block content %}{% endblock %}
    </body>
</html>