{% extends "base.html.j2" %}

{% block content %}
    <div class="picture">
        <img src= "{{ url_for('static', filename=('pictures/' + image_name ) ) }}">
    </div>
    <p>
    {% for line in text %}
        {{ line }}<br>
    {% endfor %}
    </p>
    <a href={{ '/' + game + '/' + next_const }} class="button_submit">Дальше</a>
    <a href='/mainpage' class="button_submit">Закончить</a>
{% endblock %}
