{% extends "base.html.j2" %}

{% block content %}
<p>500 Internal Server Error</p>
<p>Please, describe your bug here: </p>
<a href="https://github.com/starturnament/turnament/issues">github.com/starturnament</a>
{% endblock %}
