{% extends "base.html.j2" %}

{% block content %}
    <div class="picture">
        <img src= "{{ url_for('static', filename=('pictures/' + image_name ) ) }}">
    </div>
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.text(size=32) }}
    </p>
    <p>
        {{ form.submit(size=32) }}
    </p>
{% endblock %}
