{% extends "base.html.j2" %}

{% block content %}
    <p>Здесь вы можете изучить расположение созвездий, звезд, галактик и других объектов.</p>
    <p><u>Созвездия:</u></p>
    <a href="/image/constellation">Изучить расположения</a><br>
    <a href={{ '/first_game/' + const }}>Изучить латинские названия</a><a href="/rulse/first_game"> (правила)</a><br>
    <a href={{ '/second_game/' + const }}>Проверить свое знание расположения созвездий </a><a href="/rulse/second_game"> (правила)</a><br>
    <p><u>Объекты каталога Месcье:</u></p>
    <a href="/image/messier">Таблица объектов</a><br>
    <a href={{ '/third_game/' + messier }}>Учить расположение</a><a href="/rulse/third_game"> (правила)</a><br>
    <!--<a href="/">Проверить свои знания </a><a href="/rulse/sg"> (правила)</a><br>
    <p><u>Самые яркие звезды:</u></p>
    <a href="/messier/">Список</a><br>
    <a href="/image/M1">Учить расположение</a><br> 
    <a href="/">Проверить свои знания </a><a href="/rulse/sg"> (правила)</a>!-->
{% endblock %}
