{% extends "base.html.j2" %}

{% block content %}
    {% for msg in messages %}
        <span>{{ msg }}</span>
        <br>
    {% endfor %}
    <form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.text(size=32) }}
    </p>
    <p>
        {{ form.submit(size=32) }}
    </p>
    <img src= "{{ url_for('static', filename=('pictures/' + image_name ) ) }}">
{% endblock %}
