{% extends "base.html.j2" %}

{% block content %}
    <p>Здесь вы можете изучить расположение созвездий, звезд, галактик и других объектов.</p>
    <p><u>Созвездия:</u></p>
    <a href="/image/constellation">Учить расположение</a><br>
    <a href={{ '/second_game/' + const }}>Проверить свои знания</a> <a href="/rulse/second_game">(правила)</a>
    <p><u>Объекты каталога Месcье:</u></p>
    <a href="/messier/">Список объектов</a><br>
    <a href="/image/M1">Учить расположение</a><br>
    <a href="/">Проверить свои знания</a> <a href="/rulse/sg">(правила)</a>
    <p><u>Самые яркие звезды:</u></p>
    <a href="/messier/">Список</a><br>
    <a href="/image/M1">Учить расположение</a><br> 
    <a href="/">Проверить свои знания</a> <a href="/rulse/sg">(правила)</a>
{% endblock %}
