{% extends "base.html.j2" %}

{% block content %}
    <br>
    <div class="grid_boxes">
        {% for obj in lst %}
            <div><a href="{{ '/image/' + obj }}"><img src= "{{ url_for('static', filename=('pictures/' + obj + '.png' ) ) }}"></a></div>
        {% endfor %}
    </div>
{% endblock %}
