{% extends "base.html.j2" %}

{% block content %}
    <br>
    <div class="grid_boxes">
        {% for obj in lst %}
            <div><img src= "{{ url_for('static', filename=('pictures/' + obj + '.png' ) ) }}"><a href="{{ '/image/' + obj }}">{{ obj }}</a></div>
        {% endfor %}
    </div>
{% endblock %}
